.container-fluid {
  color: dimgray;
}

.sectionTitle{
  display: block;
}

section{
  padding: 100px 0 130px 0;
}

.sectionTitle:before,
.sectionTitle:after {
  position: absolute;
  top: 50%;
  display: block;
  width: 40%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
  content: "";
}

.sectionTitle:before {
  left: 0;
}

.sectionTitle:after {
  right: 0;
}